<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />

		<link href="css/theme-3/ipst-epub-theme-3.css" rel="stylesheet" />
		<link href="css/theme-3/ipst-epub-theme-3-responsive.css" rel="stylesheet" />

	</head>
	<body>
		{{!-- to prevent Handlebars from escaping, use triple stash --}}
		{{{.}}}
		
	</body>
</html>