/* template-1 */

.ipst-epub-chapter-template-1{
	font-family: Arial,sans-serif;
}

.ipst-epub-chapter-template-1 .ipst-epub-header-title-panel {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:25px;
  color: gray;
  
}

.ipst-epub-chapter-template-1 .ipst-epub-divider-header {
  
  margin-top:40px;
  margin-bottom:40px;
  
}
.ipst-epub-chapter-template-1 .ipst-epub-divider-header hr{
  
  width:50%;
  margin: 0 auto;
  
}


.ipst-epub-chapter-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
  line-height: 55px;
}

.ipst-epub-chapter-template-1 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 14px;
  margin:0 auto;
  width:50%;
  color:gray;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}



.ipst-epub-chapter-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
}




/* template-2 */

.ipst-epub-chapter-template-2{
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-template-2 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: red;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-chapter-template-2 .ipst-epub-header-title-panel {
  width:100%;
  /*height:100px;*/
  margin-top:25px;
  padding-top: 10px;
  padding-bottom:10px;
  background-image: url(../img/bg-pattern-header/bg-pattern-header-4-xl.png);
  color:white;

}

.ipst-epub-chapter-template-2 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}

.ipst-epub-chapter-template-2 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}

.ipst-epub-chapter-template-2 .ipst-epub-divider-header {
  
  margin-top:40px;
  margin-bottom:40px;
  
}

.ipst-epub-divider-header {
  
  text-align: center;
  
}
.ipst-epub-divider-header hr{
  
  width:50%;
  margin: 0 auto;
  
}


.ipst-epub-chapter-template-2 .ipst-epub-chapter-line {
  color:lightgray;

}

.ipst-epub-chapter-template-2 .ipst-epub-chapter-num-single-line {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  font-size: 25px;
  color:gray;
  text-align: center;

}

.ipst-epub-chapter-template-2 .ipst-epub-chapter-num-single-line {
	white-space: nowrap;
	width:30px;
	overflow: hidden;
}
.ipst-epub-chapter-template-2 .ipst-epub-chapter-num-single-line br {
	display:none;

}
.ipst-epub-chapter-template-2 .ipst-epub-chapter-num-single-line * {
	display:inline;
	white-space:nowrap;
}



.ipst-epub-chapter-template-2 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
}



/* template-3 */

.ipst-epub-chapter-template-3{
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-template-3 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-template-3 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:25px;
  color: gray;
  
}

.ipst-epub-chapter-template-3 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-chapter-template-3 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}

.ipst-epub-chapter-template-3 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-chapter-template-3 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-chapter-template-3 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}
