/* chapter theme-1-template-1 */

.ipst-epub-chapter-theme-1-template-1{
	font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-1-template-1 .ipst-epub-header-title-panel {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-1-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:25px;
  color: gray;
  
}

.ipst-epub-chapter-theme-1-template-1 .ipst-epub-divider-header {
  
  margin-top:40px;
  margin-bottom:40px;
  
}
.ipst-epub-chapter-theme-1-template-1 .ipst-epub-divider-header hr{
  
  width:50%;
  margin: 0 auto;
  
}


.ipst-epub-chapter-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
  line-height: 55px;
}

.ipst-epub-chapter-theme-1-template-1 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 14px;
  margin:0 auto;
  width:50%;
  color:gray;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}



.ipst-epub-chapter-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
}




/* chapter theme-1-template-2 */

.ipst-epub-chapter-theme-1-template-2{
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: red;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-divider-header {
  
  margin-top:40px;
  margin-bottom:40px;
  
}

.ipst-epub-divider-header {
  
  text-align: center;
  
}
.ipst-epub-divider-header hr{
  
  width:50%;
  margin: 0 auto;
  
}


.ipst-epub-chapter-theme-1-template-2 .ipst-epub-chapter-line {
  color:lightgray;
  top:-38px;
}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-chapter-num-single-line {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  font-size: 25px;
  color:gray;
  text-align: center;

}

.ipst-epub-chapter-theme-1-template-2 .ipst-epub-chapter-num-single-line {
	white-space: nowrap;
	width:30px;
	overflow: hidden;
}
.ipst-epub-chapter-theme-1-template-2 .ipst-epub-chapter-num-single-line br {
	display:none;

}
.ipst-epub-chapter-theme-1-template-2 .ipst-epub-chapter-num-single-line * {
	display:inline;
	white-space:nowrap;
}



.ipst-epub-chapter-theme-1-template-2 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
}



/* chapter theme-1-template-3 */

.ipst-epub-chapter-theme-1-template-3 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:25px;
  color: gray;
  
}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-chapter-theme-1-template-3 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-chapter-theme-1-template-3 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* chapter theme-1 template-4 */

.ipst-epub-chapter-theme-1-template-4 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-1-template-4 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-1-template-4 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:25px;
  color: gray;
  
}
.ipst-epub-chapter-theme-1-template-4 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}

.ipst-epub-chapter-theme-1-template-4 .ipst-epub-divider-header-2 {
  
  width:100%;
  border-top:2px solid lightgray;
  padding-bottom: 20px;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-chapter-theme-1-template-4 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}

.ipst-epub-chapter-theme-1-template-4 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-chapter-theme-1-template-4 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* chapter theme-1-template-empty */

.ipst-epub-chapter-theme-1-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-1-template-empty .ipst-epub-body-content {
  
  padding-top:10px;

  font-weight: 100;
  font-size: 16px;

}


/* section theme-1-template-1 */

.ipst-epub-section-theme-1-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-1-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-1-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-section-theme-1-template-1 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-section-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-section-theme-1-template-1 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-1-template-1 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-section-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-1-template-2 */

.ipst-epub-section-theme-1-template-2 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-1-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-1-template-2 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-section-theme-1-template-2 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}

.ipst-epub-header-text h3{
  
  
  
}

.ipst-epub-section-theme-1-template-2 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-section-theme-1-template-2 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-1-template-2 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-section-theme-1-template-2 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-1-template-3 */

.ipst-epub-section-theme-1-template-3 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-1-template-3 .ipst-epub-header-img {
  text-align: center;
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-header-img img{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}


.ipst-epub-section-theme-1-template-3 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-1-template-3 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-section-theme-1-template-3 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-1-template-4 */

.ipst-epub-section-theme-1-template-4 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-1-template-4 .ipst-epub-header-img {
  text-align: center;
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-header-img img{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}


.ipst-epub-section-theme-1-template-4 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-1-template-4 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-section-theme-1-template-4 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-1-template-empty */

.ipst-epub-section-theme-1-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-1-template-empty .ipst-epub-body-content {
  
  padding-top:10px;

  font-weight: 100;
  font-size: 16px;

}


/* copyright theme-1 template-1 */

.ipst-epub-copyright-theme-1-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:30px;
  color: gray;
  
}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}


.ipst-epub-copyright-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-body-space {
  height:850px;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-copyright-theme-1-template-1 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-copyright-symbol-content {
  padding-top:40px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}

.ipst-epub-copyright-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 14px;
  margin:0 auto;
}


/* dedication theme-1-template-1 */

.ipst-epub-dedication-theme-1-template-1{
  font-family: Arial,sans-serif;
}

.ipst-epub-dedication-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-dedication-theme-1-template-1 .ipst-epub-body-space {
  height:390px;
}

.ipst-epub-dedication-theme-1-template-1 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}

.ipst-epub-dedication-theme-1-template-1 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-dedication-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:80%;
  color:gray;
}


/* forward theme-1-template-1 */

.ipst-epub-forward-theme-1-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-forward-theme-1-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-forward-theme-1-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-forward-theme-1-template-1 .ipst-epub-divider-header {
  
  margin-top:15px;
  margin-bottom:10px;
  
}


.ipst-epub-forward-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-forward-theme-1-template-1 .ipst-epub-header-desc-2 {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 16px;
  margin:0 auto;
  width:50%;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-forward-theme-1-template-1 .ipst-epub-divider-header hr{
  
  width:260px;
  margin: 0 auto;
  
}

.ipst-epub-forward-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* preface theme-1-template-1 */

.ipst-epub-preface-theme-1-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-preface-theme-1-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-preface-theme-1-template-1 .ipst-epub-header-text {
  
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}



.ipst-epub-preface-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-preface-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* bibliography theme-1 template-1 */

.ipst-epub-bibliography-theme-1-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}


.ipst-epub-bibliography-theme-1-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  text-align:center;
  font-weight: 200;
  font-size: 50px;
}


.ipst-epub-bibliography-theme-1-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


.ipst-epub-bibliography-theme-1-template-1 .ipst-epub-body-content li{

  margin-bottom: 15px;

}