/* template-1 */


@media (max-width: 480px) {

  .ipst-epub-chapter-template-1 .ipst-epub-header-desc-panel-theme-1 {
    width: 100%;
    height: 90px;
    padding-top: 0px;
    color:black;

  }

  .ipst-epub-chapter-template-1 .ipst-epub-header-desc-panel-theme-2 {
    width: 100%;
    height: 90px;
    padding-top: 0px;
    background-color: lightgray;
    color:white;

  }

  .ipst-epub-chapter-template-1 .ipst-epub-header-desc {
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    font-weight: 200;
    font-size: 25px;
    line-height: 25px;
  }

}

/* end template-1 */