@media (min-width: 1200px) {
  .og-details h3 {
    font-weight: 300;
    font-size: 35px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:100px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 200;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }


}

@media (max-width: 1200px) {

  .og-details h3 {
    font-weight: 300;
    font-size: 35px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:100px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 200;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }

}

@media (max-width: 979px) {

  .og-details h3 {
    font-weight: 300;
    font-size: 32px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:100px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }

}

@media (max-width: 890px) {

  .og-details h3 {
    font-weight: 300;
    font-size: 32px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:100px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 600;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 15px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }

}

@media (max-width: 767px) {
  .og-details h3 {
    font-weight: 300;
    font-size: 28px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:80px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 600;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 12px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }
}

@media (max-width: 480px) {
  .og-details h3 {
    font-weight: 300;
    font-size: 23px;
    padding: 20px 0 10px;
    margin-bottom: 10px;
    line-height: 45px;
  }

  .og-details .og-text-desc {
    height:100px;
    overflow:auto;
    color: gray;
  }

  .og-expander a{
    font-size: 16px;
  }
  .og-details a {
    font-weight: 600;
    font-size: 8px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 5px;
    border: 1px solid gray;
    display: inline-block;
    margin: 30px 5px 0;
    outline: none;
    text-decoration: none;
  }

}
