    <div id="modal-create-chapter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างบทเรียน</h3>
      </div>
      <div class="modal-body">
        <h4>ชื่อบทเรียน</h4>
        <p><input id="txt-chapter-name" type="text" class="span8"></p>
        <hr>
        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="ipst-epub-chapter-theme-2-template-1" checked="checked"></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-2/template-2.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="ipst-epub-chapter-theme-2-template-2"></p>
            </div>
                 
          </div>

        </div>  

      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-chapter" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-chapter" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-section" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหัวข้อ</h3>
      </div>
      <div class="modal-body">
        <h4>ชื่อหัวข้อ</h4>
        <p><input id="txt-section-name" type="text" class="span8"></p>
        <hr>
        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="ipst-epub-section-theme-2-template-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-2/template-2.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="ipst-epub-section-theme-2-template-2"></p>
            </div>
                 
          </div>

        </div>  
      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-section" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-section" class="btn btn-primary">บันทึก</button>
      </div>
    </div>    

    <div id="modal-create-copyright" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าลิขสิทธิ์</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/copyright/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-copyright-template" value="ipst-epub-copyright-theme-2-template-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-copyright" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-copyright" class="btn btn-primary">บันทึก</button>
      </div>
    </div> 

    <div id="modal-create-dedication" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าคำอุทิศ</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/dedication/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-dedication-template" value="ipst-epub-dedication-theme-2-template-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-dedication" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-dedication" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-forward" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าคำนิยม</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/forward/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-forward-template" value="ipst-epub-forward-theme-2-template-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-forward" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-forward" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-preface" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าคำนำ</h3>
      </div>
      <div class="modal-body">
        <h4 style="margin-bottom:25px;">เลือกแม่แบบ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/preface/theme-2/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-preface-template" value="ipst-epub-preface-theme-2-template-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button id="btn-cancel-create-preface" class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-preface" class="btn btn-primary">บันทึก</button>
      </div>
    </div>
    