          <div data-theme-id="theme2" data-gcs-relative-path="{{gcsRelativePath}}" data-theme-id="theme2" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-chapter-theme-2-template-1" data-original-style="background-color:transparent; background-image:url(assets/img/bg-pattern-header/bg-pattern-header-tran.png); padding:40px; border:whitesmoke 2px solid;" data-original-style="background-color:transparent; background-image:url(assets/img/bg-pattern-header/bg-pattern-header-tran.png); padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; background-image:url(assets/img/bg-pattern-header/bg-pattern-header-tran.png); padding:40px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-divider-header-1">
                </div>

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                    <img class="ipst-epub-system-image" data-original-url="assets/img/vector-img.png" src="assets/img/vector-img.png" /> 
                  </div>
                </div>  

                <div class="ipst-epub-divider-header-2">
                </div>


                <div class="ipst-epub-body-content">
                  <div class="row-fluid">
                    <div class="span4" >
                      <!--Sidebar content-->
                      <div style="margin-top:20px;"></div>
                      <p class="ipst-epub-header-text" style="text-align: justify;" contenteditable="true">2</p>
                      <p class="ipst-epub-header-desc title-sync" style="text-align: justify;" contenteditable="true">{{title}}</p>
                    </div>
                    <div class="span8 ckeditor" contenteditable="true">
                      <!--Body content-->
                      <p style="text-align: justify;">โซนาร์เนกาตีฟคลิกชิป ออราเคิลไลบรารีดีวีดีอินพุตดาวน์เกรดอินเทล เน็ตโน้ตบุ๊ก พาราโบลามีเดียพิกเซลแอนิเมชัน สแกนเนอร์พิกเซลอีโบล่าเอ็นจิน บล็อกเกอร์สแต็ก เอ็กซ์โพเนนเชียล แกนีมีดธาลัสซีเมียแคโรทีนเลเยอร์ แท็กออโรร่าแอนดรอยด์โพลีเอทิลีนเอาต์พุตกริด พันธุศาสตร์ โครมาโทกราฟีมัลติทัช คอมพิวติ้งลูปอูบุนตูเอ็กซ์โพเนนเชียล เรียลไทม์สัมพัทธภาพอูบุนตูเวิร์ด อินพุตพอลิเมอร์เมทริกซ์ ซิริอุสแอนิเมชัน กิกะไบต์ อะซีติกเคอร์เซอร์สปายแวร์ อินทิเกรตเอ็นจินกลีเซอรีนโปรโตคอล เอ็กซ์โพเนนเชียลแคมฟร็อกอัลกอริทึมยูเรียไทฟอยด์โอเพน คีย์ทรานแซ็คชั่นเนกาตีฟควอนตัมโมไบล์ สแต็กอินพุตทรานแซ็คชันเบราว์เซอร์ พิกเซล โพลิเมอร์ พอลิเมอร์โหลดเอ็กซ์โพเนนเชียล ไดรว์ไอซีสแปม อะมิโนฮาร์ดแวร์ ไดรเวอร์ซ็อกเก็ตคอนดักเตอร์ คูลอมบ์ เวิร์กสเตชั่นไดนามิคส์แคร็กออฟไลน์ไอพอด เพจไคโตซานวินโดว์สแชนแนลไพธอนโพรเซส เนกาตีฟไฟล์ออกเทนกริดสปีชีส์ ฟิชชันแฟล็ก เน็ตบุ๊กคอมไพล์ซีเทนมาสเตอร์เซมิ โหลดแช็ต โพลีเอทิลีนโอเพนแอนแทร็กซ์ทรานแซกชัน</p>
                      <p style="text-align: justify;">โซนาร์เนกาตีฟคลิกชิป ออราเคิลไลบรารีดีวีดีอินพุตดาวน์เกรดอินเทล เน็ตโน้ตบุ๊ก พาราโบลามีเดียพิกเซลแอนิเมชัน สแกนเนอร์พิกเซลอีโบล่าเอ็นจิน บล็อกเกอร์สแต็ก เอ็กซ์โพเนนเชียล แกนีมีดธาลัสซีเมียแคโรทีนเลเยอร์ แท็กออโรร่าแอนดรอยด์</p>
                    </div>
                  </div>

                </div>      

          </div> 
