          <div data-theme-id="theme1" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-chapter-theme-1-template-2" data-original-style="background-color:transparent; padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; padding:40px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                    <img class="ipst-epub-system-image" data-original-url="assets/img/bootstrap-mdo-sfmoma-01.jpg" src="assets/img/bootstrap-mdo-sfmoma-01.jpg" /> 
                  </div>
                </div>  

                <div class="ipst-epub-divider-header">
                  <div class="visible-desktop" style="overflow:auto;">
                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line">_____________________________</sup></div>

                    <div style="display:inline-block;"><div contenteditable="true" class="ipst-epub-chapter-num-single-line">1</div></div>

                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line">_____________________________</sup></div>

                  </div>

                  <div class="visible-tablet" style="overflow:auto;">
                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line">__________________</sup></div>

                    <div style="display:inline-block;"><div contenteditable="true" class="ipst-epub-chapter-num-single-line">1</div></div>

                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line">__________________</sup></div>

                  </div>

                  <div class="visible-phone" style="overflow:auto;">
                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line"></sup></div>

                    <div style="display:inline-block;"><div contenteditable="true" class="ipst-epub-chapter-num-single-line">1</div></div>

                    <div style="display:inline-block;"><sup class="ipst-epub-chapter-line"></sup></div>

                  </div>

                </div>


                <div class="ipst-epub-header-desc title-sync" contenteditable="true">
                  {{title}}
                </div>

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">
                  <p style="text-align: justify;">โซนาร์เนกาตีฟคลิกชิป ออราเคิลไลบรารีดีวีดีอินพุตดาวน์เกรดอินเทล เน็ตโน้ตบุ๊ก พาราโบลามีเดียพิกเซลแอนิเมชัน สแกนเนอร์พิกเซลอีโบล่าเอ็นจิน บล็อกเกอร์สแต็ก เอ็กซ์โพเนนเชียล แกนีมีดธาลัสซีเมียแคโรทีนเลเยอร์ แท็กออโรร่าแอนดรอยด์โพลีเอทิลีนเอาต์พุตกริด พันธุศาสตร์ โครมาโทกราฟีมัลติทัช คอมพิวติ้งลูปอูบุนตูเอ็กซ์โพเนนเชียล เรียลไทม์สัมพัทธภาพอูบุนตูเวิร์ด อินพุตพอลิเมอร์เมทริกซ์ ซิริอุสแอนิเมชัน กิกะไบต์ อะซีติกเคอร์เซอร์สปายแวร์ อินทิเกรตเอ็นจินกลีเซอรีนโปรโตคอล เอ็กซ์โพเนนเชียลแคมฟร็อกอัลกอริทึมยูเรียไทฟอยด์โอเพน คีย์ทรานแซ็คชั่นเนกาตีฟควอนตัมโมไบล์ สแต็กอินพุตทรานแซ็คชันเบราว์เซอร์ พิกเซล โพลิเมอร์ พอลิเมอร์โหลดเอ็กซ์โพเนนเชียล ไดรว์ไอซีสแปม อะมิโนฮาร์ดแวร์ ไดรเวอร์ซ็อกเก็ตคอนดักเตอร์ คูลอมบ์ เวิร์กสเตชั่นไดนามิคส์แคร็กออฟไลน์ไอพอด เพจไคโตซานวินโดว์สแชนแนลไพธอนโพรเซส เนกาตีฟไฟล์ออกเทนกริดสปีชีส์ ฟิชชันแฟล็ก เน็ตบุ๊กคอมไพล์ซีเทนมาสเตอร์เซมิ โหลดแช็ต โพลีเอทิลีนโอเพนแอนแทร็กซ์ทรานแซกชัน อัลตราซาวนด์พันธุศาสตร์</p>
                  <p>
                  ฟอรัมโอเพนคอนดักเตอร์ออนไลน์รีเลย์เอาต์พุท แท็ก ไพรเมตออกเทนดาวน์เกรด วีก้าเรียลไทม์ โมเมนตัมซีเทนโวลต์ดิจิทัล ฟีโรโมน คลาสทรานแซคชันอินพุตเน็ตบุ๊คอัลตราซาวด์ มอนิเตอร์ดาวน์โหลดซ็อกเก็ต ออนไลน์พอร์ตฟอนต์เอทานอล ไทรอยด์อินเทลคอมไพเลอร์ฟีเจอร์ เมาส์เมตริกซ์คูลอมบ์ดิจิตอล สแปมสกรีน อะลูมินาบลูเรย์อินพุต ดาวน์เกรดกริดเวอร์ชันบัฟเฟอร์ บลูทูธอินพุต ซัลไฟด์โมบายทรานแซ็กชันลิงก์ฟอร์เวิร์ดแท็ก เคอร์เซอร์แฮนด์เฮลด์เมลามีนพร็อกซี โปรแกรมเมอร์ไอพอดสัมพัทธภาพอัปเกรดเน็ตเวิร์ก แพตช์พร็อกซีแอสเซมบลีโมเด็มพาราเซตามอล มัลติเพล็กซ์ไดนามิค เมทริกซ์ฟลาโวนอยด์กราฟิกส์ บั๊กเอ็กซ์โพเนนเชียลไซต์ลูปแพตช์ โค้ดดีบั๊กพัลซาร์ กราฟิกส์ฟิชชันคอมไพเลอร์เบราว์เซอร์สัมพัทธภาพ ซอฟต์แวร์จุลชีววิทยาไซบอร์กฟิวชันสแกนเนอร์ครอส ฟีโรโมนฟลูออเรสเซนซ์ อินเตอร์เน็ตอูบุนตู โครมาโทกราฟีเมาส์ เอ็กซ์โพเนนเชียลเน็ตบุ๊คแทนนินทวิตเตอร์เอทานอล โมบายล์พาราเซตามอลจีพีเอสเอาต์พุตคอมพิวติ้ง โมดูลบรอดแบนด์อูบุนตูแอนิเมชั่นบล็อกเกอร์ ฟีโรโมนโครมาโทกราฟีโมเมนตัมยูนิโค้ดออนไลน์ สุริยจักรวาลริงโทน ฟอนต์ พาร์ทิชันมาสเตอร์
                  เวิร์ดฮาร์ดแวร์ฮิวมัส สเกลาร์ลินุกซ์ อินพุตอินเทอร์เน็ต
                  </p>

                  <p>
                  ฮิวมัสซีดีไอพ็อด โมเด็ม ไฮดรอลิก อินพุตคีย์บอร์ดดอปเปลอร์แอมโมเนียม เทเลคอมเน็ตเวิร์ค ซัลไฟด์ดาวน์เกรด ออกเทนคอปเปอร์จาวาฮาร์ดดิสก์สแต็กเน็ตเวิร์ค คลาสไทรอยด์ พันธุศาสตร์ซัลฟิวริก โพรเซสเซอร์ซัลไฟด์ อินเทอร์เน็ตโวลต์ซัลไฟด์โกลบอล ไดเรกทอรีโมเมนตัมโน้ตบุคไดโอด ไบนารีพิกเซลเดสก์ท็อปโอเพนลิงก์ทรานแซกชั่น ฮับแอลกอฮอลิซึมแอสเซมบลีเวอร์ชั่นเดสก์ท็อป ไดนามิกฟิชชันแคมฟร็อกทรานแซกชั่น ไฟล์ดีไวซ์ บิทเซ็กเมนต์เวสิเคิลสเต็มไอซี คอปเปอร์ ซอร์สสเปิร์มไคโตซานโฮสต์โน้ตบุคเซมิ โซนาร์สปีชีส์ ไอคอนกราฟิคดอสจาวาเน็ตเวิร์กโพลาไรซ์ ไอโฟนกลีเซอรีนสเกลอีเมลมอนอกไซด์ เอ็กซ์โพเนนเชียลเพจเจอร์
                  </p>

                </div>

          </div>
