          <div data-theme-id="theme1" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-copyright-theme-1-template-1" data-original-style="background-color:transparent; padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; padding:40px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-header-desc title-sync" contenteditable="true">
                  {{title}}
                </div>

                <div class="ipst-epub-divider-header">
                  <hr/>
                </div>

                <div class="ipst-epub-body-space">

                </div>      

                <div class="ipst-epub-body-content">
                    <p class="ipst-epub-copyright-symbol-content ckeditor" contenteditable="true">© ไดนามิกส์มอนอกไซด์</p>
                    <p class="ckeditor" contenteditable="true">
                      สเกลฟิวชันมัลแวร์ยูนิโค้ด เทฟลอนไซบอร์ก โซลูชั่นแอนิเมชันสเต็ม ไพรเมตเรียลไทม์ฮับเบิล เอาต์พุท ควอนตัม รีเลย์สแต็กโอเซลทามิเวียร์คลิก ซอฟท์แวร์แคมฟรอกซัพพอร์ท ซีเนอร์ ไทฟอยด์โวลต์ฮาร์ดแวร์เคอร์เนลมีเดีย แพลตฟอร์มอะมิโนอินพุตเวกเตอร์ โพรโทคอล ออกเทนอัลคาไลน์ คีย์สปายแวร์อัลตราซาวด์ ฟีเจอร์แคมฟรอก สปีชีส์บรอดแบนด์พาราเซตามอลแอสพาร์แตมฮาร์ดแวร์โมเด็ม สปีชีส์บรอดแบนด์เวอร์ชั่นโทรจันแพกเก็ตแอสเซมบลี
                    </p>
                </div>   

          </div>
