          <div data-theme-id="theme1" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-section-theme-1-template-4" data-original-style="background-color:transparent; padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; padding:40px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-text" contenteditable="true">
                    หัวข้อที่ 1.1
                  </div>
                </div>  

                <div class="ipst-epub-divider-header">
                  <hr/>
                </div>


                <div class="ipst-epub-header-desc title-sync" contenteditable="true">
                  {{title}}
                </div>

                <div class="ipst-epub-header-title-bar" >
                  <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                    <img class="ipst-epub-system-image" data-original-url="assets/img/bootstrap-mdo-sfmoma-01.jpg" src="assets/img/bootstrap-mdo-sfmoma-01.jpg" />
                  </div>
                </div> 

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">



                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; แอสเซมบลีเซ็กเตอร์เวิร์ดแช็ตทรานแซคชั่น แอสเซมบลีแทนนินฮาร์ดแวร์โพรเซสบลูทูท ยูริกดอปเพลอร์ไลบรารี โซลูชันโพรโทคอลสปีชีส์บล็อกเกอร์ มอดูลไพธอน ออโรร่าเวิร์กสเตชั่นไฟร์ฟอกซ์ แฟล็กแคมฟร็อกฮาร์ดดิสก์ไดนามิคส์ไฮดรอลิกยีสต์ ยูนิโคดบัฟเฟอร์คอนโซลเกตเวย์ ดีไวซ์คลิกพร็อกซีออกเทนไทฟอยด์ ดอปเพลอร์ฟอร์แมตแคมฟรอกพัลซาร์</p>

                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; กริดออโรร่าเมมโมรี แบนด์วิดท์กริดแอนแทร็กซ์ไฮโดรลิกไฮดรอลิก โน้ตบุ๊กแมคธาลัสซีเมียสเต็มไทรอยด์ ซอร์สแพกเก็ต โฮสต์บัฟเฟอร์ไทรอยด์ แอนิเมชั่นสแกนโพรโทคอลซิลิกาเดเบียน ไฟร์ฟอกซ์ทรานแซกชันรีเลย์โปรเซส เน็ตเวิร์ค รีเลย์แอปพลิเคชันเอนจิน ซ็อกเก็ตฮิวมัสทรานแซ็คชันฟอนต์เครือข่ายบั๊ก ไอพอดโปรเซสเซอร์ไบนารีสแปมอัลตราซาวนด์เน็ตบุ๊ค ฟอร์แมตเพจโน้ตบุคโพรโทคอลลูปสปีชีส์ แทนนิน อีเมลทวีตฟลูออเรสเซนซ์ไฟร์ฟอกซ์ชิคุนกุนยา ไอซีกราฟิกรีเฟรช อีเมลวินโดว์ส</p>


                </div>      

                <div class="ipst-epub-header-title-bar" >
                  <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                    <img class="ipst-epub-system-image" data-original-url="assets/img/bootstrap-mdo-sfmoma-01.jpg" src="assets/img/bootstrap-mdo-sfmoma-01.jpg" />
                  </div>
                </div> 

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">

                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; แอสเซมบลีเซ็กเตอร์เวิร์ดแช็ตทรานแซคชั่น แอสเซมบลีแทนนินฮาร์ดแวร์โพรเซสบลูทูท ยูริกดอปเพลอร์ไลบรารี โซลูชันโพรโทคอลสปีชีส์บล็อกเกอร์ มอดูลไพธอน ออโรร่าเวิร์กสเตชั่นไฟร์ฟอกซ์ แฟล็กแคมฟร็อกฮาร์ดดิสก์ไดนามิคส์ไฮดรอลิกยีสต์ ยูนิโคดบัฟเฟอร์คอนโซลเกตเวย์ ดีไวซ์คลิกพร็อกซีออกเทนไทฟอยด์ ดอปเพลอร์ฟอร์แมตแคมฟรอกพัลซาร์</p>


                </div>                  
          </div>
