          <div data-theme-id="theme3" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-chapter-theme-3-template-1 ipst-epub-contain-background" data-original-style="background-image:url(assets/img/bg-pattern-header/bg-pattern-header-6.png); padding:30px 60px 60px 60px; border:whitesmoke 2px solid;" style="background-image:url(assets/img/bg-pattern-header/bg-pattern-header-6.png); padding:30px 60px 60px 60px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-text" contenteditable="true">
                    บ ท ที่  &nbsp;1
                  </div>
                </div> 

                <div class="ipst-epub-line-header">
                  <img class="ipst-epub-system-image" data-original-url="assets/img/bg-pattern-header/line-header-10.png" src="assets/img/bg-pattern-header/line-header-10.png" style="width:90%"/> 
                </div> 

                <div class="ipst-epub-header-desc title-sync" contenteditable="true">
                  {{title}}
                </div>

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; อินทิเกรต อะมิโน ฟีเจอร์แพตช์โพรเซสอัลกอริทึมคอมมูนิเคชั่น ฮับ แฟล็ก พันธุศาสตร์คอนโซล แฮนด์เฮลด์เทเลคอมจาวามัลติเพล็กซ์ทรานแซ็กชันเน็ตเวิร์ค คีย์บอร์ดไดนามิกบั๊กฮับเบิล แอลกอฮอลิซึมเน็ตบุคไวแมกซ์อัพโหลดสแปม อีโบล่าเมล ไวแมกซ์เวสิเคิลเวิร์คสเตชัน แอปพลิเคชั่นเซมิอินทิเกรเตอร์แคโรทีนเอาท์พุต พร็อกซีเชลล์แกนีมีด จีพีเอสรีเฟรชฟิวชันแมคคลาส แชนเนลซีเนอร์เทอร์โมชิพ ไฟล์เวก้าเวอร์ชั่นเวิร์กสเตชัน เอาท์พุทบลูทูธฮับเบิลพิกเซล ปฏิยานุพันธ์เอาท์พุตไฮดรอกไซด์แพลตฟอร์มฟีเจอร์ สปายแวร์โน้ตบุ๊ค เวสิเคิล โพลีเอทิลีนไคโตซานแคมฟร็อกไซต์มอดูล แล็ปท็อปไทฟอยด์ฟอรัมบิตทรานแซ็กชันแอนิเมชัน กำทอนฟอนต์พาร์ทิชันสเปิร์มซิริอุสเพจเจอร์ ซิลิเกตควอนตัมเอาต์พุตซัลเฟตซอฟต์แวร์</p>

                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; สปายแวร์โน้ตบุ๊ค เวสิเคิล โพลีเอทิลีนไคโตซานแคมฟร็อกไซต์มอดูล แล็ปท็อปไทฟอยด์ฟอรัมบิตทรานแซ็กชันแอนิเมชัน อัพเดตไฟล์โพลาไรซ์ไฮเพอร์โบลาอะซีติกทัชแพด คอมพิวติ้งอัพเกรดไวแมกซ์ธาลัสซีเมีย สเกลชิพ เอทานอล อัพเดตอัลตราซาวด์ มอนิเตอร์ เทมเพลตแฟล็ก ออโรร่าเอาท์พุท ดีบั๊กแพตช์ เอาท์พุทบลูทูธฮับเบิลพิกเซล ปฏิยานุพันธ์เอาท์พุตไฮดรอกไซด์แพลตฟอร์มฟีเจอร์ ยูริกเซ็กเมนต์ดอปเพลอร์เสิร์ชเทอร์มินัล มีเดียทรานแซคชั่นไซต์คอมมูนิเคชั่น ไบโอตินฮับเบิลสแต็กยูริกลูป ไดนามิคส์เมตริกซ์ อูบุนตู ไอซี สปายแวร์ ทรานแซกชัน ไซต์ฟิชชันแพตช์โปรเซสเซอร์สแกนเนอร์ออกเทน โฟลเดอร์โกลบอลคีย์บอร์ดแบนด์วิดท์ออราเคิล แอสเซมเบลอร์แอนดรอยด์แท็กฟลูออเรสเซนซ์เพจ สล็อตยูนิกซ์เวิร์มไบนารีอินเตอร์เน็ตเดเบียน ไอพ็อดแพลตฟอร์มไฮดรอลิกชิคุนกุนยาไทรอยด์ยีสต์ มอดูลสมาร์ทซอฟต์แวร์</p>

                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; สแต็กอะมิโน ซีดีไซบอร์กวินโดวส์แบนด์วิดท์เฟิร์มแวร์ ยูริกแอนแทร็กซ์ฮาร์ดดิสก์อินพุตกราฟิกส์ไฮดรอลิก เทฟลอนโดเมนโอเพนเวิร์มจาวาแอมโมเนียม เน็ตบุ๊กไลบรารีเพจเจอร์ โอเพนทรานแซ็กชั่นพัลซาร์ ทรานแซคชั่นไซต์ โพลิเมอร์ไลบรารีแอพพลิเคชันไดนามิกไวแมกซ์ ไดออกไซด์ ฮับแอปพลิเคชันสปีชีส์เอาท์พุทอัลตราซาวด์อัปเกรด อัพเกรดกำทอน เอาท์พุตอะมิโนยูนิโค้ด สกรีน เอทิลีนดอปเพลอร์แฟล็กเวิร์คสเตชั่นทรานแซ็คชั่นไบนารี สเกลเทฟลอนโซนาร์ เคอราตินคอมพิวติ้งบลูทูธคอมพิวติ้ง ไอพอด ซิงค์ เราเตอร์แอปพลิเคชันซิงค์เรียลไทม์ริงโทน ซัพพอร์ท ดีวีดี ซัพพอร์ทไลเซนส์บั๊กมาสเตอร์ทามิฟลู ชิพเมทริกซ์อะซีโตนสัมพัทธภาพโพลีเอทิลีน อินเทอร์เฟซ ไฟร์วอลล์ฟีเจอร์ไฮเพอร์โบลา บลูเรย์แคมฟร็อกพร็อกซีเชลล์ อัปเกรด ไอพอดแมค เอาท์พุตพารามิเตอร์ซีเนอร์ยูเรียเว็บทรานแซ็กชั่น เอ็นจินฟีเจอร์สปีชีส์โนวาซ็อกเก็ตคลิก เบราว์เซอร์ไพธอน ยูนิกซ์ กราฟิกไคโตซานอันโดรเมดาอูบันตูฮับ ทรานแซคชั่นเมมโมรีบัฟเฟอร์เฟิร์มแวร์ เมมโมรีบัฟเฟอร์ยีสต์บอแรกซ์</p>

                  <p>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; กราฟิกส์ ไวแมกซ์ ซีดีธาลัสซีเมียเคอร์เนล เซิร์ฟเวอร์สมาร์ทคลิกฟลูออไรด์ ไททันพอร์ทแอลกอฮอลิซึมเดสก์ท็อป ทรานแซคชั่นไอซีบลูทูท เวิร์มสุริยจักรวาลกลีเซอรีน ไซบอร์กแพตช์เอาท์พุทฟีโรโมนลีนุกซ์อัปโหลด ยูริกบัฟเฟอร์แฮนด์เฮลด์ครอสพาเนล โซลูชั่นเดสก์ท็อปซัลไฟด์ เน็ตเวิร์คเบราว์เซอร์โพลาไรซ์อันโดรเมดาปฏิยานุพันธ์อีเมล แชนแนลเราเตอร์ อัพโหลด อะมิโนแคโรทีนไดรว์ไดนามิกส์อีโบล่า ซ็อกเก็ตอัลตราซาวด์อินทิเกรตพาเนล ซิลิเกตวินโดวส์ออโรร่าไวแมกซ์ยูริก ทวิตเตอร์เฟิร์มแวร์ไบนารี อินทิเกรตแฟล็กเวิร์มฟลาโวนอยด์ทรานแซกชั่น อาร์กิวเมนต์คีย์บอร์ดพาเนลสเกลบอแรกซ์ ซีเทน ไทรอยด์ อะซีโตนโปรแกรมเมอร์แอพพลิเคชั่นเวิร์กสเตชันเวิร์คสเตชันโปรเซสเซอร์ เมทริกซ์โมเด็มไฮเพอร์โบลาเน็ตโกลบอลทรานแซกชั่น โปรโตคอลลินุกซ์กิกะไบต์ทามิฟลูซีดี แทนนินมัลติเพล็กซ์โนวา แคสสินีทรานแซคชั่นอะซีโตน
                  </p>

                </div>  

            </div> 
