!!! xml
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:epub="http://www.idpf.org/2007/opf")
  head
    title สารบัญ

  body
    if locals.tocHtmlString
      nav(epub:type="toc")
        h2 Contents
        !{tocHtmlString}
      
    if locals.landmarksHtmlString
      nav(epub:type="landmarks")
        h2 Landmarks
        !{landmarksHtmlString}
