<div class='og-expander'>
	<div class='og-expander-inner'>
    	<span class='og-close'></span>
        <div class='og-fullimg'>
        	<img class='bookCoverL' data-url='{{coverUrl}}' width='0px' src='/assets/img/book-covers/book-cover-preview-expan.png' />
        </div>
        <div class='og-details'>
        	<h3>{{title}}</h3>
        	<p>{{description.value}}</p>
        	<a class='go-inside-button' href='#'>เปิดหนังสือ</a>
        	<a class='edit-metadata-button' href='#'>แก้ไขเมทาดาทา</a>
        	<a class='delete-book-button' href='#'>ลบหนังสือ</a>
        </div>
	</div>
</div>
<div id='divExArrow'style='margin-top:-15px; margin-left:25px; position:absolute;'><img id='exArrow'src='assets/img/expanArrow.png' style='display:none;'/>
</div>
