<div class='og-expander-inner'>
	<span class='og-close'></span>
	<div class='og-fullimg'>
		<img class='bookCoverL' data-url='{{coverUrl}}' style='display:none;' src='/assets/img/book-covers/book-cover-preview-expan.png' />
	</div>
	<div class='og-details'>
		<h3>{{title}}</h3>
		<p>{{description.value}}</p>
		<a class='go-inside-button' href='#'>เปิดหนังสือ</a>
		<a class='edit-metadata-button' href='#'>แก้ไขเมทาดาทา</a>
       	<a class='delete-book-button' href='#'>ลบหนังสือ</a>
	</div>
</div>