{{#each .}}
	<div style="width:350px; margin-left:20px; margin-bottom:10px; display:inline-block; position:relative;" id="manageMedia{{id}}">

		<audio data-media='{{jsonStringify .}}' controls="controls" class="myAudio" data-url="{{mediaUrl}}" style="width: 280px;">
		</audio>
		
        <div style="margin-bottom:20px;">
            <button class="btn btn-mini btn-download-audio-resource" type="button" style="width:58px;">
            	<i class="icon-download-alt icon-black"></i>
            </button>
            <button class="btn btn-mini btn-delete-audio-resource" type="button">
                <i class="icon-trash icon-black"></i>
       		</button>
			<span>{{getFileNameFromUrl mediaUrl}}</span>
      	</div>  
  	</div>	
{{/each}}