{{#each .}}
	<div style="margin-left:20px; padding: 10px; display:inline-block; position:relative;">
		<video id="{{id}}" controls="controls" class="myCKVideo img-polaroid" style="width: 350px;" data-url="{{mediaUrl}}" />
	</div>
{{/each}}
