{{#each .}}
	<div class="panel-book-cover" style="display:inline-block; position:relative;">
		<div class="form-btn-delete-my-cover">
			<button class="btn btn-mini btn-danger btn-del-my-covers" type="button" style="margin-bottom:7px; width:65px;">Delete</button><br />
			<button class="btn btn-mini btn-cancel-my-covers" type="button" style="width:65px;">Cancel</button>
		</div>
		<i class="icon-trash icon-black icon-trash-book-cover" style="display:none;"></i>
		<img class="myCover" data-url="{{coverUrl}}" src="/assets/img/book-covers/book-cover-preview-template.png" style="box-shadow: 1px 1px 2px 1px #BABABA;"/>
	</div>
{{/each}}