{{#each .}}
	<div style="width:350px; margin-left:20px; margin-bottom:10px; display:inline-block; position:relative;" id="manageMedia{{id}}">

		<video data-media='{{jsonStringify .}}' controls="controls" class="myVideo img-polaroid" data-url="{{mediaUrl}}" style="width: 350px;">
		</video>

        <div style="margin-bottom:20px;">
            <button class="btn btn-mini btn-download-video-resource" type="button" style="width:58px;">
            	<i class="icon-download-alt icon-black"></i>
            </button>
            <button class="btn btn-mini btn-delete-video-resource" type="button">
                <i class="icon-trash icon-black"></i>
       		</button>
      	</div>  
  	</div>
{{/each}}