    <div id="modal-create-chapter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างบทเรียน</h3>
      </div>
      <div class="modal-body">
        <h4>ชื่อบทเรียน</h4>
        <p><input id="txt-chapter-name" type="text" class="span8"></p>
        <hr>
        <h4 style="margin-bottom:25px;">เลือกแม่แบบบทเรียน</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="chapter-1-1" checked="checked"></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-1/template-2.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="chapter-1-2"></p>
            </div>
                 
          </div>

          <div class="row-fluid" style="margin-top:30px;">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-1/template-3.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="chapter-1-3"></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-1/template-4.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="chapter-1-4"></p>
            </div>
                 
          </div>

          <div class="row-fluid" style="margin-top:30px;">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/chapter/theme-1/template-empty.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-chapter-template" value="chapter-1-empty"></p>
            </div>
                 
          </div>

        </div>  

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-chapter" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-section" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหัวข้อ</h3>
      </div>
      <div class="modal-body">
        <h4>ชื่อหัวข้อ</h4>
        <p><input id="txt-section-name" type="text" class="span8"></p>
        <hr>
        <h4 style="margin-bottom:25px;">เลือกแม่แบบหัวข้อ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="section-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-1/template-2.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="section-1-2"></p>
            </div>
                 
          </div>

          <div class="row-fluid" style="margin-top:30px;">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-1/template-3.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="section-1-3" ></p>
            </div>
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-1/template-4.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="section-1-4" ></p>
            </div>
                 
          </div>

          <div class="row-fluid" style="margin-top:30px;">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/section/theme-1/template-empty.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-section-template" value="section-1-empty"></p>
            </div>
                 
          </div>

        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-section" class="btn btn-primary">บันทึก</button>
      </div>
    </div>    

    <div id="modal-create-copyright" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าลิขสิทธิ์</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบหน้าลิขสิทธิ์</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/copyright/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-copyright-template" value="copyright-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-copyright" class="btn btn-primary">บันทึก</button>
      </div>
    </div> 

    <div id="modal-create-dedication" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าอุทิศ</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบหน้าอุทิศ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/dedication/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-dedication-template" value="dedication-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-dedication" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-forward" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าคำนิยม</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบหน้าคำนิยม</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/forward/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-forward-template" value="forward-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-forward" class="btn btn-primary">บันทึก</button>
      </div>
    </div>


    <div id="modal-create-preface" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าคำนำ</h3>
      </div>
      <div class="modal-body">

        <h4 style="margin-bottom:25px;">เลือกแม่แบบหน้าคำนำ</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/preface/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-preface-template" value="preface-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-preface" class="btn btn-primary">บันทึก</button>
      </div>
    </div>

    <div id="modal-create-bibliography" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">สร้างหน้าบรรณานุกรม</h3>
      </div>
      <div class="modal-body">
        <h4 style="margin-bottom:25px;">เลือกแม่แบบหน้าบรรณานุกรม</h4>
        <div class="container-fluid">
          <div class="row-fluid">
            
            <div class="span6" style="text-align:center;">
              <img src='assets/img/template/bibliography/theme-1/template-1.png' class="img-polaroid"/>
              <p><input type="radio" name="rb-bibliography-template" value="bibliography-1-1" checked></p>
            </div>
            <div class="span6" style="text-align:center;">

            </div>
                 
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button id="btn-confirm-create-bibliography" class="btn btn-primary">บันทึก</button>
      </div>
    </div>