<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8" />
	
		<title></title>

		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				tex2jax: {
					inlineMath: [["$","$"],["\\(","\\)"]]
				},
				"HTML-CSS": { scale: 100}
			});
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/app/media/endpoint.js"></script>	

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" />

	    <link href="assets/css/ipst-epub-theme/theme-1/ipst-epub-theme-1.css" rel="stylesheet" />
	    <link href="assets/css/ipst-epub-theme/theme-1/ipst-epub-theme-1-responsive.css" rel="stylesheet" />
	    <link href="assets/css/ipst-epub-theme/theme-2/ipst-epub-theme-2.css" rel="stylesheet" />
	    <link href="assets/css/ipst-epub-theme/theme-3/ipst-epub-theme-3.css" rel="stylesheet" />
	    <link href="assets/css/ipst-epub-theme/theme-3/ipst-epub-theme-3-responsive.css" rel="stylesheet" />

	</head>
	<body>
		{{!-- to prevent Handlebars from escaping, use triple stash --}}
		{{{.}}}
		
		<script>
			(function($) {
				//
				// In case of pdf preview, several html files will be combined at client side, and, therefore, "src" of media files are not yet signed
				//

				// change system image (e.g. backgrounds, lines, placeholders) paths
				var $systemImages=$(".ipst-epub-system-image");
				if($systemImages.length>0) {
					$systemImages.each(function(index, image) {
						$(image).attr("src", $(image).attr("data-original-url"));
					});			
				}
		
				// change media paths to local package
				var $images=$(".myCKImage");
				if($images.length>0) {
console.log($images);
					MediaEndpoint.loadImageAsync($images);
				}
		
				var $videos=$(".myCKVideo");
				if($videos.length>0) {
					MediaEndpoint.loadVideoAsync($videos);
				}
		
				var $audios=$(".myCKAudio");
				if($audios.length>0) {
					MediaEndpoint.loadAudioAsync($audios);
				}
								
			})(jQuery);
		</script>
	</body>
</html>