/* chapter theme-2 template-1 */

.ipst-epub-chapter-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;
  text-align: center;

}


.ipst-epub-chapter-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:4px solid darkgray;
  margin-bottom: 35px;
  
}

.ipst-epub-chapter-theme-2-template-1 .ipst-epub-divider-header-2 {
  
  width:100%;
  border-top:3px solid lightgray;
  margin-top: 25px;
}


.ipst-epub-chapter-theme-2-template-1 .ipst-epub-header-text {
  
  font-size: 150px;
  padding-bottom: 55px;
  padding-top:20px;
  margin-left:-5px;
  color: gray;

}

.ipst-epub-chapter-theme-2-template-1 .ipst-epub-header-desc {
  
  font-size: 30px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-chapter-theme-2-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* chapter theme-2 template-2 */

.ipst-epub-chapter-theme-2-template-2 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-2-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;
  text-align: center;

}

.ipst-epub-chapter-theme-2-template-2 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:4px solid darkgray;
  margin-bottom: 35px;
  
}

.ipst-epub-chapter-theme-2-template-2 .ipst-epub-header-text {
  
  font-size: 150px;
  padding-bottom: 55px;
  padding-top:20px;
  margin-left:-5px;
  color: gray;
}

.ipst-epub-chapter-theme-2-template-2 .ipst-epub-header-desc {
  
  font-size: 30px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-chapter-theme-2-template-2 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* chapter theme-2-template-empty */

.ipst-epub-chapter-theme-2-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-2-template-empty .ipst-epub-body-content {
  
  padding-top:10px;

  font-weight: 100;
  font-size: 16px;

}



/* section theme-2 template-1 */

.ipst-epub-section-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-2-template-1 .ipst-epub-header-text {
  

  font-weight: 100;
  font-size:20px;
  color: gray;
  
}
.ipst-epub-section-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}



.ipst-epub-section-theme-2-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-2-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-2 template-2 */

.ipst-epub-section-theme-2-template-2 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-2-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-2-template-2 .ipst-epub-header-img {
  text-align: center;
}

.ipst-epub-section-theme-2-template-2 .ipst-epub-header-img img{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.ipst-epub-section-theme-2-template-2 .ipst-epub-header-text {
  

  font-weight: 100;
  font-size:20px;
  color: gray;
  
}
.ipst-epub-section-theme-2-template-2 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}

.ipst-epub-section-theme-2-template-2 .ipst-epub-divider-header-2 {
  
  width:100%;
  border-top:3px solid lightgray;
  margin-top: 25px;
}


.ipst-epub-section-theme-2-template-2 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-2-template-2 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* section theme-2-template-empty */

.ipst-epub-section-theme-2-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-2-template-empty .ipst-epub-body-content {
  
  padding-top:10px;

  font-weight: 100;
  font-size: 16px;

}

/* copyright theme-2 template-1 */

.ipst-epub-copyright-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-copyright-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}


.ipst-epub-copyright-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}


.ipst-epub-copyright-theme-2-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}

.ipst-epub-copyright-theme-2-template-1 .ipst-epub-body-space {
  height:850px;
}

.ipst-epub-copyright-theme-2-template-1 .ipst-epub-copyright-symbol-content {
  padding-top:40px;
  font-weight: 100;
  font-size: 14px;
  margin:0;

}

.ipst-epub-copyright-theme-2-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 12px;
  margin:0;

}


/* dedication theme-2 template-1 */

.ipst-epub-dedication-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-dedication-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}


.ipst-epub-dedication-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}


.ipst-epub-dedication-theme-2-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}

.ipst-epub-dedication-theme-2-template-1 .ipst-epub-body-content {
  padding-top:60px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0;

}


/* forward theme-2 template-1 */

.ipst-epub-forward-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-forward-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}


.ipst-epub-forward-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}


.ipst-epub-forward-theme-2-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}

.ipst-epub-forward-theme-2-template-1 .ipst-epub-body-content {
  padding-top:60px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0;

}



/* preface theme-2 template-1 */

.ipst-epub-preface-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-preface-theme-2-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;
  text-align: center;

}

.ipst-epub-preface-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:4px solid darkgray;
  margin-bottom: 35px;
  
}


.ipst-epub-preface-theme-2-template-1 .ipst-epub-header-desc {
  
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 30px;
}

.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-preface-theme-2-template-1 .ipst-epub-body-content {
  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0 auto;
}


/* bibliography theme-2 template-1 */

.ipst-epub-bibliography-theme-2-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-bibliography-theme-2-template-1 .ipst-epub-divider-header-1 {
  
  width:100%;
  border-top:3px solid darkgray;
  padding-bottom: 20px;
  
}

.ipst-epub-bibliography-theme-2-template-1 .ipst-epub-header-desc {
  padding-top:20px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-bibliography-theme-2-template-1 .ipst-epub-body-content {
  padding-top:60px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;
  margin:0;

}

.ipst-epub-bibliography-theme-2-template-1 .ipst-epub-body-content li{

  margin-bottom: 15px;

}