/* chapter theme-3-template-1 */

.ipst-epub-chapter-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-3-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-3-template-1 .ipst-epub-line-header {
  
  text-align: center;

}


.ipst-epub-chapter-theme-3-template-1 .ipst-epub-header-text {
  
  padding-top:10px;
  text-align:center;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}


.ipst-epub-chapter-theme-3-template-1 .ipst-epub-header-desc {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  font-weight: 200;
  font-size: 60px;
}




.ipst-epub-chapter-theme-3-template-1 .ipst-epub-body-content {
  
  padding-top:30px;
  padding-bottom:20px;
  margin-top:60px;
  font-weight: 100;
  font-size: 16px;

}



/* chapter theme-3-template-2 */

.ipst-epub-chapter-theme-3-template-2 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-header-text {
  
  padding-top:10px;
  text-align:center;
  font-size:20px;
  color: gray;
  
}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-line-header {
  
  text-align: center;

}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-header-desc {
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  line-height:60px;
  font-weight: 200;
  font-size: 60px;
}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-header-img {
  padding-top:40px;
  margin-top:40px;
  text-align:center;

}

.ipst-epub-chapter-theme-3-template-2 .ipst-epub-header-img img{
  margin-left:-4px;

}
.ipst-epub-chapter-theme-3-template-2 .ipst-epub-body-content {
  padding-top:10px;
  padding-bottom:20px;
  margin-top:30px;
  font-weight: 100;
  font-size: 16px;
}


/* chapter theme-3-template-empty */

.ipst-epub-chapter-theme-3-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-chapter-theme-3-template-empty .ipst-epub-body-content {
  
  padding-top:15px;

  font-weight: 100;
  font-size: 16px;

}


/* section theme-3 template-1 */

.ipst-epub-section-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-3-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-3-template-1 .ipst-epub-header-text {
  
  padding-top: 10px;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}
.ipst-epub-section-theme-3-template-1 .ipst-epub-divider-header {
  
  margin-top:15px; 
  width:100%;
  border-top:1px solid lightgray;
  
}



.ipst-epub-section-theme-3-template-1 .ipst-epub-header-desc {
  
  padding-top:25px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-header-desc h1{
  
  font-weight: 100;
  
}


.ipst-epub-section-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* section theme-3 template-2 */

.ipst-epub-section-theme-3-template-2 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-3-template-2 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-section-theme-3-template-2 .ipst-epub-header-text {
  
  padding-top: 10px;
  font-weight: 100;
  font-size:20px;
  color: gray;
  
}
.ipst-epub-section-theme-3-template-2 .ipst-epub-divider-header {
  
  margin-top:15px; 
  width:100%;
  border-top:1px solid lightgray;
  
}



.ipst-epub-section-theme-3-template-2 .ipst-epub-header-desc {
  
  padding-top:25px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-section-theme-3-template-2 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* section theme-3-template-empty */

.ipst-epub-section-theme-3-template-empty {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-section-theme-3-template-empty .ipst-epub-body-content {
  
  padding-top:15px;

  font-weight: 100;
  font-size: 16px;

}


/* copyright theme-3 template-1 */

.ipst-epub-copyright-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-divider-header {
  
  margin-top:15px; 
  width:100%;
  border-top:1px solid lightgray;
  
}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-body-space {
  height:850px;
}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-header-desc {
  
  padding-top:25px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-copyright-symbol-content {
  padding-top:40px;
  font-weight: 100;
  font-size: 16px;
  margin:0;

}

.ipst-epub-copyright-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* dedication theme-3 template-1 */

.ipst-epub-dedication-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-dedication-theme-3-template-1 .ipst-epub-header-title-bar {
  
  padding:0 0 0 0;

}

.ipst-epub-dedication-theme-3-template-1 .ipst-epub-divider-header {
  
  margin-top:15px; 
  width:100%;
  border-top:1px solid lightgray;
  
}

.ipst-epub-dedication-theme-3-template-1 .ipst-epub-body-space {
  height:240px;
}

.ipst-epub-dedication-theme-3-template-1 .ipst-epub-header-desc {
  
  padding-top:25px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-dedication-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* forward theme-3 template-1 */

.ipst-epub-forward-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}

.ipst-epub-forward-theme-3-template-1 .ipst-epub-divider-header {
  
  margin-top:15px; 
  width:100%;
  border-top:1px solid lightgray;
  
}



.ipst-epub-forward-theme-3-template-1 .ipst-epub-header-desc {
  
  padding-top:25px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}

.ipst-epub-forward-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* preface theme-3 template-1 */

.ipst-epub-preface-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}


.ipst-epub-preface-theme-3-template-1 .ipst-epub-header-desc {
  text-align: center;
  padding-top:45px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-preface-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}


/* bibliography theme-3 template-1 */

.ipst-epub-bibliography-theme-3-template-1 {
  /*font-family: "Courier New",Arial,sans-serif;*/
  font-family: Arial,sans-serif;
}


.ipst-epub-bibliography-theme-3-template-1 .ipst-epub-header-desc {
  text-align: center;
  padding-top:45px;
  padding-bottom:30px;
  font-weight: 200;
  font-size: 40px;
}


.ipst-epub-bibliography-theme-3-template-1 .ipst-epub-body-content {

  padding-top:40px;
  padding-bottom:20px;
  font-weight: 100;
  font-size: 16px;

}

.ipst-epub-bibliography-theme-3-template-1 .ipst-epub-body-content li{

  margin-bottom: 15px;

}
